before_install:
- npm install -g grunt-cli
language: node_js
node_js:
- '0.10'
notifications:
  email: false
env:
  global:
  - secure: AMkHPJiDX13PGJWNrfQkM9VR/Rtx8qC3Zitg80R6SS263pxMJw7RwWI5lD4mr9kaFoi0YJjGD64ZVs+HIY+zIPELrxRmNUbwfJTYdHYCajlIzl/VdUlME1R0eS15GHnMqsLrwoictWUaqVWFYoKGFjLoJc1mGyQRRnClzUeu148=
deploy:
  provider: npm
  email: stephan@thehoodiefirm.com
  on:
    all_branches: true
    tags: true
  api_key:
    secure: fLJmZXc6HdBO83dvWt8sGH4+Pj2oP1nyokijk7/9Onpik99pZ6hAylFOgb/0fdTBqmaXbreRrL+YIl71lpPk9P2AAcJvfYcMf1Q+gA7hWBkbazfYPn4g1uvAbfT8+uGdsExF3N9u0TIX/M/Q7/7qvN1gfdafYjF9ne1FGnrpAQ8=
before_deploy:
- grunt before-deploy
after_deploy:
- grunt after-deploy
